<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Product Management</h1>
    <button class="open-modal-button" onclick="openCartModal()">Add New Cart</button>
    <button class="open-modal-button" onclick="openModal()">Add New Product</button>

    <div id="cartModalOverlay" class="modal-overlay">
        <div class="modal-content">
            <button class="close-modal-button" onclick="closeCartModal()">X</button>
            <h2>Add to Cart</h2>
            <form id="cartForm">
                <label for="productId">Product ID:</label>
                <input type="text" id="productId" name="    productId" required>

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required>

                <button type="submit">Add to Cart</button>
            </form>
        </div>
    </div>

    <div id="modalOverlay" class="modal-overlay">
        <div class="modal-content">
            <button class="close-modal-button" onclick="closeModal()">X</button>
            <h2>Add Product</h2>
            <form id="productForm">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="type">type:</label>
                <input type="text" id="type" name="type" required>

                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required>

                <button type="submit">Add Product</button>
            </form>
        </div>
    </div>

    <h2>Product List</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>type</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="productTableBody">
        </tbody>
    </table>
    <h3 style="text-align: end">Total Price: <span id="totalPrice"></span></h3>

    <div id="cartContainer" style="display: none;">
        <h2>Cart Items</h2>

        <span>Customer : Tom Jerry </span>
        <br>
        <span>Address  : Jl. Tali 7 No.9, Jakarta Barat </span>

        <table id="cartTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody id="cartTableBody">
            </tbody>
        </table>
        <h3 style="text-align: end">Total: <span id="totalCart"></span></h3>
        <button class="open-modal-button" onclick="Checkout()">Add New Product</button>
    </div>
    <p id="emptyCartMessage" style="display: none;">Keranjang Anda kosong..</p>

</div>

</body>
<script src="/script.js"></script>

</html>